<h1>Users</h1>
<% @users.each do |user| %>
<div>
  <%= image_tag user.get_profile_image(50,50) %>
  <%= link_to "#{user.name}", user_path(user) %>
  <%= user.introduction %>
</div>
<% end %>

<!--共通テンプレ呼び出し/コントローラの変数注意-->
<%= render 'common', user: @user, book: @book %>
