<% if model.errors.any? %>
<div>
  <ul>
    <h5><%= model.errors.count %> error prohibited this obj from being saved:</h5>
    <% model.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>